@model dynamic

@{
    ViewBag.Title = "Trang chủ";
    Layout = string.Format("{0}", "~/Views/Shared/_Layout.cshtml");

}
<h1 style="text-align: center;color: aqua;font-size: 30px;margin-bottom: 10px;">http://www.khamodau.vn</h1>
<div style="text-align: center">
    <img  src="~/Images/buildWeb.jpeg"/>
</div>
<div style="text-align: left;font-size: 18px;margin-left: 30px;">
    <p>Cám ơn quý khách đã ghé thăm website của chúng tôi</p>
    <p>Website đang trong quá trình xây dựng. Mong quý khách quay lại trong thời gian tới.</p>
</div>