USE [master]
GO
/****** Object:  Database [HELP]    Script Date: 08/15/2014 10:10:08 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'HELP')
BEGIN
CREATE DATABASE [HELP] ON  PRIMARY 
( NAME = N'HELP', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\HELP.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HELP_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\HELP.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HELP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HELP]
GO
/****** Object:  ForeignKey [FK_UserAdmin_UserGroup]    Script Date: 08/15/2014 10:10:10 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserAdmin_UserGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserAdmin]'))
ALTER TABLE [dbo].[UserAdmin] DROP CONSTRAINT [FK_UserAdmin_UserGroup]
GO
/****** Object:  ForeignKey [FK_User_UserGroup]    Script Date: 08/15/2014 10:10:10 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_User_UserGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[User]'))
ALTER TABLE [dbo].[User] DROP CONSTRAINT [FK_User_UserGroup]
GO
/****** Object:  ForeignKey [FK_ChiTietBacSi_BacSi]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ChiTietBacSi_BacSi]') AND parent_object_id = OBJECT_ID(N'[dbo].[ChiTietBacSi]'))
ALTER TABLE [dbo].[ChiTietBacSi] DROP CONSTRAINT [FK_ChiTietBacSi_BacSi]
GO
/****** Object:  ForeignKey [FK_Images_CoSoKhamBenh]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Images_CoSoKhamBenh]') AND parent_object_id = OBJECT_ID(N'[dbo].[Images]'))
ALTER TABLE [dbo].[Images] DROP CONSTRAINT [FK_Images_CoSoKhamBenh]
GO
/****** Object:  ForeignKey [FK_DichVuKham_ChuyenKhoa]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DichVuKham_ChuyenKhoa]') AND parent_object_id = OBJECT_ID(N'[dbo].[DichVuKham]'))
ALTER TABLE [dbo].[DichVuKham] DROP CONSTRAINT [FK_DichVuKham_ChuyenKhoa]
GO
/****** Object:  ForeignKey [FK_DichVuKham_CoSoKhamBenh]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DichVuKham_CoSoKhamBenh]') AND parent_object_id = OBJECT_ID(N'[dbo].[DichVuKham]'))
ALTER TABLE [dbo].[DichVuKham] DROP CONSTRAINT [FK_DichVuKham_CoSoKhamBenh]
GO
/****** Object:  ForeignKey [FK_LichKhamBenh_BacSi]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_BacSi]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] DROP CONSTRAINT [FK_LichKhamBenh_BacSi]
GO
/****** Object:  ForeignKey [FK_LichKhamBenh_CoSoKhamBenh]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_CoSoKhamBenh]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] DROP CONSTRAINT [FK_LichKhamBenh_CoSoKhamBenh]
GO
/****** Object:  ForeignKey [FK_LichKhamBenh_DichVuKham]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_DichVuKham]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] DROP CONSTRAINT [FK_LichKhamBenh_DichVuKham]
GO
/****** Object:  ForeignKey [FK_LichKhamBenh_KhungGio1]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_KhungGio1]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] DROP CONSTRAINT [FK_LichKhamBenh_KhungGio1]
GO
/****** Object:  ForeignKey [FK_LichKhamBenh_User]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] DROP CONSTRAINT [FK_LichKhamBenh_User]
GO
/****** Object:  ForeignKey [FK_HoSoBenhAn_Benh]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoSoBenhAn_Benh]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoSoBenhAn]'))
ALTER TABLE [dbo].[HoSoBenhAn] DROP CONSTRAINT [FK_HoSoBenhAn_Benh]
GO
/****** Object:  ForeignKey [FK_HoSoBenhAn_User]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoSoBenhAn_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoSoBenhAn]'))
ALTER TABLE [dbo].[HoSoBenhAn] DROP CONSTRAINT [FK_HoSoBenhAn_User]
GO
/****** Object:  Table [dbo].[HoSoBenhAn]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoSoBenhAn_Benh]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoSoBenhAn]'))
ALTER TABLE [dbo].[HoSoBenhAn] DROP CONSTRAINT [FK_HoSoBenhAn_Benh]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoSoBenhAn_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoSoBenhAn]'))
ALTER TABLE [dbo].[HoSoBenhAn] DROP CONSTRAINT [FK_HoSoBenhAn_User]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_HoSoBenhAn_NgayTao]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[HoSoBenhAn] DROP CONSTRAINT [DF_HoSoBenhAn_NgayTao]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_HoSoBenhAn_NgayChinhSua]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[HoSoBenhAn] DROP CONSTRAINT [DF_HoSoBenhAn_NgayChinhSua]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoSoBenhAn]') AND type in (N'U'))
DROP TABLE [dbo].[HoSoBenhAn]
GO
/****** Object:  Table [dbo].[LichKhamBenh]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_BacSi]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] DROP CONSTRAINT [FK_LichKhamBenh_BacSi]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_CoSoKhamBenh]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] DROP CONSTRAINT [FK_LichKhamBenh_CoSoKhamBenh]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_DichVuKham]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] DROP CONSTRAINT [FK_LichKhamBenh_DichVuKham]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_KhungGio1]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] DROP CONSTRAINT [FK_LichKhamBenh_KhungGio1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] DROP CONSTRAINT [FK_LichKhamBenh_User]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_LichKhamBenh_NgayDangKi]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[LichKhamBenh] DROP CONSTRAINT [DF_LichKhamBenh_NgayDangKi]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_LichKhamBenh_NgayChinhSua]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[LichKhamBenh] DROP CONSTRAINT [DF_LichKhamBenh_NgayChinhSua]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]') AND type in (N'U'))
DROP TABLE [dbo].[LichKhamBenh]
GO
/****** Object:  Table [dbo].[DichVuKham]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DichVuKham_ChuyenKhoa]') AND parent_object_id = OBJECT_ID(N'[dbo].[DichVuKham]'))
ALTER TABLE [dbo].[DichVuKham] DROP CONSTRAINT [FK_DichVuKham_ChuyenKhoa]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DichVuKham_CoSoKhamBenh]') AND parent_object_id = OBJECT_ID(N'[dbo].[DichVuKham]'))
ALTER TABLE [dbo].[DichVuKham] DROP CONSTRAINT [FK_DichVuKham_CoSoKhamBenh]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_DichVuKham_NgayTao]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[DichVuKham] DROP CONSTRAINT [DF_DichVuKham_NgayTao]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_DichVuKham_NgayChinhSua]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[DichVuKham] DROP CONSTRAINT [DF_DichVuKham_NgayChinhSua]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DichVuKham]') AND type in (N'U'))
DROP TABLE [dbo].[DichVuKham]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Images_CoSoKhamBenh]') AND parent_object_id = OBJECT_ID(N'[dbo].[Images]'))
ALTER TABLE [dbo].[Images] DROP CONSTRAINT [FK_Images_CoSoKhamBenh]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Images]') AND type in (N'U'))
DROP TABLE [dbo].[Images]
GO
/****** Object:  Table [dbo].[ChiTietBacSi]    Script Date: 08/15/2014 10:10:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ChiTietBacSi_BacSi]') AND parent_object_id = OBJECT_ID(N'[dbo].[ChiTietBacSi]'))
ALTER TABLE [dbo].[ChiTietBacSi] DROP CONSTRAINT [FK_ChiTietBacSi_BacSi]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ChiTietBacSi_NgayTao]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ChiTietBacSi] DROP CONSTRAINT [DF_ChiTietBacSi_NgayTao]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ChiTietBacSi_NgayChinhSua]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ChiTietBacSi] DROP CONSTRAINT [DF_ChiTietBacSi_NgayChinhSua]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChiTietBacSi]') AND type in (N'U'))
DROP TABLE [dbo].[ChiTietBacSi]
GO
/****** Object:  Table [dbo].[User]    Script Date: 08/15/2014 10:10:10 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_User_UserGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[User]'))
ALTER TABLE [dbo].[User] DROP CONSTRAINT [FK_User_UserGroup]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[UserAdmin]    Script Date: 08/15/2014 10:10:10 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserAdmin_UserGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserAdmin]'))
ALTER TABLE [dbo].[UserAdmin] DROP CONSTRAINT [FK_UserAdmin_UserGroup]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_UserAdmin_NgayTao]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserAdmin] DROP CONSTRAINT [DF_UserAdmin_NgayTao]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_UserAdmin_NgayChinhSua]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserAdmin] DROP CONSTRAINT [DF_UserAdmin_NgayChinhSua]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserAdmin]') AND type in (N'U'))
DROP TABLE [dbo].[UserAdmin]
GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 08/15/2014 10:10:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserGroup]') AND type in (N'U'))
DROP TABLE [dbo].[UserGroup]
GO
/****** Object:  Table [dbo].[ChuyenKhoa]    Script Date: 08/15/2014 10:10:10 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ChuyenKhoa_NgayTao]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ChuyenKhoa] DROP CONSTRAINT [DF_ChuyenKhoa_NgayTao]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ChuyenKhoa_NgayChinhSua]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ChuyenKhoa] DROP CONSTRAINT [DF_ChuyenKhoa_NgayChinhSua]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChuyenKhoa]') AND type in (N'U'))
DROP TABLE [dbo].[ChuyenKhoa]
GO
/****** Object:  Table [dbo].[CoSoKhamBenh]    Script Date: 08/15/2014 10:10:10 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_CoSoKhamBenh_NgayTao]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CoSoKhamBenh] DROP CONSTRAINT [DF_CoSoKhamBenh_NgayTao]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_CoSoKhamBenh_NgayChinhSua]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CoSoKhamBenh] DROP CONSTRAINT [DF_CoSoKhamBenh_NgayChinhSua]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CoSoKhamBenh]') AND type in (N'U'))
DROP TABLE [dbo].[CoSoKhamBenh]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 08/15/2014 10:10:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__MigrationHistory]
GO
/****** Object:  Table [dbo].[BacSi]    Script Date: 08/15/2014 10:10:10 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_BacSi_NgayTao]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BacSi] DROP CONSTRAINT [DF_BacSi_NgayTao]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_BacSi_NgayChinhSua]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BacSi] DROP CONSTRAINT [DF_BacSi_NgayChinhSua]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BacSi]') AND type in (N'U'))
DROP TABLE [dbo].[BacSi]
GO
/****** Object:  Table [dbo].[Benh]    Script Date: 08/15/2014 10:10:10 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Benh_NgayTao]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Benh] DROP CONSTRAINT [DF_Benh_NgayTao]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Benh_NgayChinhSua]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Benh] DROP CONSTRAINT [DF_Benh_NgayChinhSua]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Benh]') AND type in (N'U'))
DROP TABLE [dbo].[Benh]
GO
/****** Object:  Table [dbo].[KhungGio]    Script Date: 08/15/2014 10:10:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KhungGio]') AND type in (N'U'))
DROP TABLE [dbo].[KhungGio]
GO
/****** Object:  Table [dbo].[LoaiCoSoKhamBenh]    Script Date: 08/15/2014 10:10:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoaiCoSoKhamBenh]') AND type in (N'U'))
DROP TABLE [dbo].[LoaiCoSoKhamBenh]
GO
/****** Object:  Table [dbo].[LoaiDieuTri]    Script Date: 08/15/2014 10:10:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoaiDieuTri]') AND type in (N'U'))
DROP TABLE [dbo].[LoaiDieuTri]
GO
/****** Object:  Table [dbo].[LoaiDieuTri]    Script Date: 08/15/2014 10:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoaiDieuTri]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LoaiDieuTri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[MoTa] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[NgayChinhSua] [datetime] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_dbo.LoaiDieuTri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[LoaiDieuTri] ON
INSERT [dbo].[LoaiDieuTri] ([Id], [Ten], [MoTa], [NgayTao], [NgayChinhSua], [Status]) VALUES (1, N'Đa khoa', N'Khám và chữa bệnh đa khoa', NULL, NULL, 1)
INSERT [dbo].[LoaiDieuTri] ([Id], [Ten], [MoTa], [NgayTao], [NgayChinhSua], [Status]) VALUES (2, N'Nha khoa', N'Khám và chữa những bệnh về răng', NULL, NULL, 1)
INSERT [dbo].[LoaiDieuTri] ([Id], [Ten], [MoTa], [NgayTao], [NgayChinhSua], [Status]) VALUES (3, N'Tai  Mũi Họng', N'Khám và chữa những bệnh tai mũi họng', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[LoaiDieuTri] OFF
/****** Object:  Table [dbo].[LoaiCoSoKhamBenh]    Script Date: 08/15/2014 10:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoaiCoSoKhamBenh]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LoaiCoSoKhamBenh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[MoTa] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[NgayChinhSua] [datetime] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_dbo.LoaiCoSoKhamBenh] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[LoaiCoSoKhamBenh] ON
INSERT [dbo].[LoaiCoSoKhamBenh] ([Id], [Ten], [MoTa], [NgayTao], [NgayChinhSua], [Status]) VALUES (1, N'Bệnh viện', N'Cơ sở khám chữa bệnh là bệnh viện', NULL, NULL, 1)
INSERT [dbo].[LoaiCoSoKhamBenh] ([Id], [Ten], [MoTa], [NgayTao], [NgayChinhSua], [Status]) VALUES (2, N'Phòng khám', N'Phòng khám tư', NULL, NULL, 1)
INSERT [dbo].[LoaiCoSoKhamBenh] ([Id], [Ten], [MoTa], [NgayTao], [NgayChinhSua], [Status]) VALUES (3, N'Trung tâm', N'Cơ sơ khám chữa bệnh là trung  tâm y khoa', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[LoaiCoSoKhamBenh] OFF
/****** Object:  Table [dbo].[KhungGio]    Script Date: 08/15/2014 10:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KhungGio]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KhungGio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KhungGio] [char](20) NULL,
	[MoTa] [nchar](10) NULL,
 CONSTRAINT [PK_GioKham] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Benh]    Script Date: 08/15/2014 10:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Benh]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Benh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenBenh] [nvarchar](50) NULL,
	[MoTa] [nvarchar](50) NULL,
	[NguoiTao] [int] NULL,
	[NguoiChinhSua] [int] NULL,
	[NgayTao] [datetime] NULL CONSTRAINT [DF_Benh_NgayTao]  DEFAULT (getdate()),
	[NgayChinhSua] [datetime] NULL CONSTRAINT [DF_Benh_NgayChinhSua]  DEFAULT (getdate()),
 CONSTRAINT [PK_Benh] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[BacSi]    Script Date: 08/15/2014 10:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BacSi]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BacSi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[Tuoi] [int] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [char](15) NULL,
	[BangCapCaoNhat] [nvarchar](50) NULL,
	[TruongTotNghiep] [nchar](10) NULL,
	[NamTotNghiep] [char](10) NULL,
	[NguoiTao] [int] NULL,
	[NguoiChinhSua] [int] NULL,
	[NgayTao] [datetime] NULL CONSTRAINT [DF_BacSi_NgayTao]  DEFAULT (getdate()),
	[NgayChinhSua] [datetime] NULL CONSTRAINT [DF_BacSi_NgayChinhSua]  DEFAULT (getdate()),
 CONSTRAINT [PK_BacSi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BacSi', N'COLUMN',N'BangCapCaoNhat'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cu nhan, thac si, tien si' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BacSi', @level2type=N'COLUMN',@level2name=N'BangCapCaoNhat'
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 08/15/2014 10:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CoSoKhamBenh]    Script Date: 08/15/2014 10:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CoSoKhamBenh]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CoSoKhamBenh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenCS] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[LoaiCoSo] [int] NULL,
	[LoaiDieuTri] [int] NULL,
	[ThongTinChung] [nvarchar](max) NULL,
	[ChuThich] [nvarchar](50) NULL,
	[NguoiTao] [int] NULL,
	[NguoiChinhSua] [int] NULL,
	[NgayTao] [datetime] NULL CONSTRAINT [DF_CoSoKhamBenh_NgayTao]  DEFAULT (getdate()),
	[NgayChinhSua] [datetime] NULL CONSTRAINT [DF_CoSoKhamBenh_NgayChinhSua]  DEFAULT (getdate()),
	[ContentSearch] [nvarchar](max) NULL,
 CONSTRAINT [PK_CoSoKhamBenh] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'CoSoKhamBenh', N'COLUMN',N'LoaiCoSo'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Benh Vien, Phong Kham, Trung Tam' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CoSoKhamBenh', @level2type=N'COLUMN',@level2name=N'LoaiCoSo'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'CoSoKhamBenh', N'COLUMN',N'LoaiDieuTri'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Da khoa, thẩm mỹ, răng hàm mặt, tai mũi họng...' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CoSoKhamBenh', @level2type=N'COLUMN',@level2name=N'LoaiDieuTri'
GO
SET IDENTITY_INSERT [dbo].[CoSoKhamBenh] ON
INSERT [dbo].[CoSoKhamBenh] ([Id], [TenCS], [DiaChi], [LoaiCoSo], [LoaiDieuTri], [ThongTinChung], [ChuThich], [NguoiTao], [NguoiChinhSua], [NgayTao], [NgayChinhSua], [ContentSearch]) VALUES (1, N'Phòng khám Phước An', N'110 Lê Văn Sỹ', 2, 1, N'<p>Ph&ograve;ng kh&aacute;m với c&aacute;c trang thiết bị hiện đại nhất tại TPHCM</p>
', N'Tuy nhiên giá cả hơi cao', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CoSoKhamBenh] ([Id], [TenCS], [DiaChi], [LoaiCoSo], [LoaiDieuTri], [ThongTinChung], [ChuThich], [NguoiTao], [NguoiChinhSua], [NgayTao], [NgayChinhSua], [ContentSearch]) VALUES (4, N'Bệnh Viên An BInh 1', N'1 Cư Xá Bắc Hải', 2, 3, N'<p>Bệnh Viện Tư nh&acirc;n tốt nhất hiện nay</p>
', N'Giá cả phải chăng', NULL, NULL, CAST(0x0000A388009CDC7A AS DateTime), CAST(0x0000A388009CDC7A AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[CoSoKhamBenh] OFF
/****** Object:  Table [dbo].[ChuyenKhoa]    Script Date: 08/15/2014 10:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChuyenKhoa]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ChuyenKhoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenChuyenKhoa] [nvarchar](50) NULL,
	[MoTa] [nvarchar](50) NULL,
	[NguoiTao] [int] NULL,
	[NguoiChinhSua] [int] NULL,
	[NgayTao] [datetime] NULL CONSTRAINT [DF_ChuyenKhoa_NgayTao]  DEFAULT (getdate()),
	[NgayChinhSua] [datetime] NULL CONSTRAINT [DF_ChuyenKhoa_NgayChinhSua]  DEFAULT (getdate()),
 CONSTRAINT [PK_ChuyenKhoa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 08/15/2014 10:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserGroup]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[MoTa] [nvarchar](50) NULL,
 CONSTRAINT [PK_GroupUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[UserGroup] ON
INSERT [dbo].[UserGroup] ([Id], [Ten], [MoTa]) VALUES (1, N'super admin', N'super admin')
INSERT [dbo].[UserGroup] ([Id], [Ten], [MoTa]) VALUES (2, N'normal admin', N'admin')
SET IDENTITY_INSERT [dbo].[UserGroup] OFF
/****** Object:  Table [dbo].[UserAdmin]    Script Date: 08/15/2014 10:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserAdmin]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserAdmin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[UserGroup] [int] NOT NULL,
	[NgayTao] [datetime] NULL CONSTRAINT [DF_UserAdmin_NgayTao]  DEFAULT (getdate()),
	[NgayChinhSua] [datetime] NULL CONSTRAINT [DF_UserAdmin_NgayChinhSua]  DEFAULT (getdate()),
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_UserAdmin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[UserAdmin] ON
INSERT [dbo].[UserAdmin] ([Id], [Username], [Password], [Email], [UserGroup], [NgayTao], [NgayChinhSua], [Status]) VALUES (1, N'tam', N'123456', N'tamsps@gmail.com', 1, CAST(0x0000A37E01842EBF AS DateTime), CAST(0x0000A37E01842EBF AS DateTime), NULL)
INSERT [dbo].[UserAdmin] ([Id], [Username], [Password], [Email], [UserGroup], [NgayTao], [NgayChinhSua], [Status]) VALUES (2, N'thang', N'123456', N'thangnguyenit@hotmail.com', 1, CAST(0x0000A37E0184D745 AS DateTime), CAST(0x0000A37E0184D745 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[UserAdmin] OFF
/****** Object:  Table [dbo].[User]    Script Date: 08/15/2014 10:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SoDienThoai] [char](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NamSinh] [date] NULL,
	[GioiTinh] [nchar](10) NULL,
	[ChieuCao] [char](10) NULL,
	[CanNang] [char](10) NULL,
	[UserGroup] [int] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietBacSi]    Script Date: 08/15/2014 10:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChiTietBacSi]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ChiTietBacSi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BacSiId] [int] NULL,
	[ChuyenKhoaId] [int] NULL,
	[NoiCongTac] [int] NULL,
	[NguoiTao] [int] NULL,
	[NguoiChinhSua] [int] NULL,
	[NgayTao] [datetime] NULL CONSTRAINT [DF_ChiTietBacSi_NgayTao]  DEFAULT (getdate()),
	[NgayChinhSua] [datetime] NULL CONSTRAINT [DF_ChiTietBacSi_NgayChinhSua]  DEFAULT (getdate()),
 CONSTRAINT [PK_ChiTietBacSi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Images]    Script Date: 08/15/2014 10:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Images]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nchar](10) NULL,
	[MoTa] [nvarchar](500) NULL,
	[NhomDoiTuong] [int] NULL,
	[DoiTuongId] [int] NULL,
	[NguoiTao] [int] NULL,
	[NguoiChinhSua] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NgayChinhSua] [datetime] NULL,
	[Status] [tinyint] NULL,
	[RoleImg] [tinyint] NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Images', N'COLUMN',N'NhomDoiTuong'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: Phòng Khám, 1: Bệnh Nhân....' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Images', @level2type=N'COLUMN',@level2name=N'NhomDoiTuong'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Images', N'COLUMN',N'DoiTuongId'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id of line item (Id of Phong Kham, ..e.g).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Images', @level2type=N'COLUMN',@level2name=N'DoiTuongId'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Images', N'COLUMN',N'Status'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: InActive, 1:Active' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Images', @level2type=N'COLUMN',@level2name=N'Status'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Images', N'COLUMN',N'RoleImg'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: Thumbnail, 1: Hình bình thường' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Images', @level2type=N'COLUMN',@level2name=N'RoleImg'
GO
/****** Object:  Table [dbo].[DichVuKham]    Script Date: 08/15/2014 10:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DichVuKham]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DichVuKham](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CoSoId] [int] NULL,
	[ChuyenKhoaId] [int] NULL,
	[TenDichVu] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[KhungGio] [int] NULL,
	[SoLuongPhucVu] [int] NULL,
	[GiaCa] [decimal](18, 2) NULL,
	[NguoiTao] [int] NULL,
	[NguoiChinhSua] [int] NULL,
	[NgayTao] [datetime] NULL CONSTRAINT [DF_DichVuKham_NgayTao]  DEFAULT (getdate()),
	[NgayChinhSua] [datetime] NULL CONSTRAINT [DF_DichVuKham_NgayChinhSua]  DEFAULT (getdate()),
 CONSTRAINT [PK_DichVuKham] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LichKhamBenh]    Script Date: 08/15/2014 10:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LichKhamBenh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CoSoKhamBenhId] [int] NULL,
	[DichVuKhamId] [int] NULL,
	[KhungGioId] [int] NULL,
	[SoLuongDangKi] [int] NULL,
	[UserId] [int] NULL,
	[BacSiId] [int] NULL,
	[NgayDangKi] [datetime] NULL CONSTRAINT [DF_LichKhamBenh_NgayDangKi]  DEFAULT (getdate()),
	[NgayChinhSua] [datetime] NULL CONSTRAINT [DF_LichKhamBenh_NgayChinhSua]  DEFAULT (getdate()),
 CONSTRAINT [PK_LichKhamBenh] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[HoSoBenhAn]    Script Date: 08/15/2014 10:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoSoBenhAn]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HoSoBenhAn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CoSoKhamBenhId] [int] NULL,
	[BacSiId] [int] NULL,
	[LoaiBenhId] [int] NULL,
	[KetQua] [nvarchar](255) NULL,
	[NguoiTao] [int] NULL,
	[NguoiChinhSua] [int] NULL,
	[NgayTao] [datetime] NULL CONSTRAINT [DF_HoSoBenhAn_NgayTao]  DEFAULT (getdate()),
	[NgayChinhSua] [datetime] NULL CONSTRAINT [DF_HoSoBenhAn_NgayChinhSua]  DEFAULT (getdate()),
 CONSTRAINT [PK_HoSoBenhAn] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  ForeignKey [FK_UserAdmin_UserGroup]    Script Date: 08/15/2014 10:10:10 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserAdmin_UserGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserAdmin]'))
ALTER TABLE [dbo].[UserAdmin]  WITH CHECK ADD  CONSTRAINT [FK_UserAdmin_UserGroup] FOREIGN KEY([UserGroup])
REFERENCES [dbo].[UserGroup] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserAdmin_UserGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserAdmin]'))
ALTER TABLE [dbo].[UserAdmin] CHECK CONSTRAINT [FK_UserAdmin_UserGroup]
GO
/****** Object:  ForeignKey [FK_User_UserGroup]    Script Date: 08/15/2014 10:10:10 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_User_UserGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[User]'))
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserGroup] FOREIGN KEY([UserGroup])
REFERENCES [dbo].[UserGroup] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_User_UserGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[User]'))
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserGroup]
GO
/****** Object:  ForeignKey [FK_ChiTietBacSi_BacSi]    Script Date: 08/15/2014 10:10:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ChiTietBacSi_BacSi]') AND parent_object_id = OBJECT_ID(N'[dbo].[ChiTietBacSi]'))
ALTER TABLE [dbo].[ChiTietBacSi]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBacSi_BacSi] FOREIGN KEY([BacSiId])
REFERENCES [dbo].[BacSi] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ChiTietBacSi_BacSi]') AND parent_object_id = OBJECT_ID(N'[dbo].[ChiTietBacSi]'))
ALTER TABLE [dbo].[ChiTietBacSi] CHECK CONSTRAINT [FK_ChiTietBacSi_BacSi]
GO
/****** Object:  ForeignKey [FK_Images_CoSoKhamBenh]    Script Date: 08/15/2014 10:10:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Images_CoSoKhamBenh]') AND parent_object_id = OBJECT_ID(N'[dbo].[Images]'))
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_CoSoKhamBenh] FOREIGN KEY([DoiTuongId])
REFERENCES [dbo].[CoSoKhamBenh] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Images_CoSoKhamBenh]') AND parent_object_id = OBJECT_ID(N'[dbo].[Images]'))
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_CoSoKhamBenh]
GO
/****** Object:  ForeignKey [FK_DichVuKham_ChuyenKhoa]    Script Date: 08/15/2014 10:10:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DichVuKham_ChuyenKhoa]') AND parent_object_id = OBJECT_ID(N'[dbo].[DichVuKham]'))
ALTER TABLE [dbo].[DichVuKham]  WITH CHECK ADD  CONSTRAINT [FK_DichVuKham_ChuyenKhoa] FOREIGN KEY([ChuyenKhoaId])
REFERENCES [dbo].[ChuyenKhoa] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DichVuKham_ChuyenKhoa]') AND parent_object_id = OBJECT_ID(N'[dbo].[DichVuKham]'))
ALTER TABLE [dbo].[DichVuKham] CHECK CONSTRAINT [FK_DichVuKham_ChuyenKhoa]
GO
/****** Object:  ForeignKey [FK_DichVuKham_CoSoKhamBenh]    Script Date: 08/15/2014 10:10:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DichVuKham_CoSoKhamBenh]') AND parent_object_id = OBJECT_ID(N'[dbo].[DichVuKham]'))
ALTER TABLE [dbo].[DichVuKham]  WITH CHECK ADD  CONSTRAINT [FK_DichVuKham_CoSoKhamBenh] FOREIGN KEY([CoSoId])
REFERENCES [dbo].[CoSoKhamBenh] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DichVuKham_CoSoKhamBenh]') AND parent_object_id = OBJECT_ID(N'[dbo].[DichVuKham]'))
ALTER TABLE [dbo].[DichVuKham] CHECK CONSTRAINT [FK_DichVuKham_CoSoKhamBenh]
GO
/****** Object:  ForeignKey [FK_LichKhamBenh_BacSi]    Script Date: 08/15/2014 10:10:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_BacSi]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_LichKhamBenh_BacSi] FOREIGN KEY([BacSiId])
REFERENCES [dbo].[BacSi] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_BacSi]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] CHECK CONSTRAINT [FK_LichKhamBenh_BacSi]
GO
/****** Object:  ForeignKey [FK_LichKhamBenh_CoSoKhamBenh]    Script Date: 08/15/2014 10:10:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_CoSoKhamBenh]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_LichKhamBenh_CoSoKhamBenh] FOREIGN KEY([CoSoKhamBenhId])
REFERENCES [dbo].[CoSoKhamBenh] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_CoSoKhamBenh]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] CHECK CONSTRAINT [FK_LichKhamBenh_CoSoKhamBenh]
GO
/****** Object:  ForeignKey [FK_LichKhamBenh_DichVuKham]    Script Date: 08/15/2014 10:10:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_DichVuKham]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_LichKhamBenh_DichVuKham] FOREIGN KEY([DichVuKhamId])
REFERENCES [dbo].[DichVuKham] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_DichVuKham]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] CHECK CONSTRAINT [FK_LichKhamBenh_DichVuKham]
GO
/****** Object:  ForeignKey [FK_LichKhamBenh_KhungGio1]    Script Date: 08/15/2014 10:10:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_KhungGio1]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_LichKhamBenh_KhungGio1] FOREIGN KEY([KhungGioId])
REFERENCES [dbo].[KhungGio] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_KhungGio1]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] CHECK CONSTRAINT [FK_LichKhamBenh_KhungGio1]
GO
/****** Object:  ForeignKey [FK_LichKhamBenh_User]    Script Date: 08/15/2014 10:10:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_LichKhamBenh_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LichKhamBenh_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[LichKhamBenh]'))
ALTER TABLE [dbo].[LichKhamBenh] CHECK CONSTRAINT [FK_LichKhamBenh_User]
GO
/****** Object:  ForeignKey [FK_HoSoBenhAn_Benh]    Script Date: 08/15/2014 10:10:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoSoBenhAn_Benh]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoSoBenhAn]'))
ALTER TABLE [dbo].[HoSoBenhAn]  WITH CHECK ADD  CONSTRAINT [FK_HoSoBenhAn_Benh] FOREIGN KEY([LoaiBenhId])
REFERENCES [dbo].[Benh] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoSoBenhAn_Benh]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoSoBenhAn]'))
ALTER TABLE [dbo].[HoSoBenhAn] CHECK CONSTRAINT [FK_HoSoBenhAn_Benh]
GO
/****** Object:  ForeignKey [FK_HoSoBenhAn_User]    Script Date: 08/15/2014 10:10:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoSoBenhAn_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoSoBenhAn]'))
ALTER TABLE [dbo].[HoSoBenhAn]  WITH CHECK ADD  CONSTRAINT [FK_HoSoBenhAn_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoSoBenhAn_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoSoBenhAn]'))
ALTER TABLE [dbo].[HoSoBenhAn] CHECK CONSTRAINT [FK_HoSoBenhAn_User]
GO
