@model Help.Model.UserAdmin

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}
@using (Html.BeginForm())
{
    <div class="form-box" id="login-box">
        <div class="header">Admin Sign In</div>
        <div class="body bg-gray">
            <div class="form-group">
                @Html.TextBoxFor(model => model.Username, new {@class = "form-control", @placeholder = "Username"})
                @* <span style="color:red">Username is required.</span>*@
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.Password, new {@type = "password", @class = "form-control", @placeholder = "Password"})
                @* <span style="color:red">Password is required.</span>*@
            </div>          
            <div class="form-group">
                <input type="checkbox" name="remember_me"/> Remember me
            </div>
        </div>
        <div class="footer">                                                               
            @*<button type="submit" class="btn bg-olive btn-block">Sign me in</button>  *@
            <input type="submit"  class="btn bg-olive btn-block" value="Sign me in" />
            <p><a href="#">I forgot my password</a></p>                    
            <p style="color: red">@ViewBag.ErrorMsg</p>
        </div>

    </div>
}